<div class="container">
    <div class="alert alert-dark alert-dismissible fade show">
      Home / <span><a routerLink='/lab02'>student</a></span>
      </div>
      <div class="card border-primary mb-3 mt-3" id="body-lab">
          <div class="card-header bg-primary">
                <i class="far fa-address-book"></i>
                List of Students
          </div>
          <div class="card-body">
                <form action="" class="form-inline">
                        <label for="filter" ng-model="searchText">Filter by:</label>
                        <input type="text" class="form-control ml-5" name="filter" id="filter" [(ngModel)]="searchText">
                    </form>
                <table class="table" id="searchTextResults">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Enroll Date</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody  *ngIf="listStudents.length > 0; else nothing"> 
                          <tr *ngFor='let student of listStudents | filter:searchText | paginate: config'>
                              <td>{{ student.firstName }}</td>
                              <td>{{ student.lastName }}</td>
                              <td>{{ student.enrollmentDate | date:"dd/MM/yyyy" }}</td>
                              <td>
                                  <a [routerLink]="['/lab02', student.id]">
                                      <i class="fas fa-info-circle text-primary mr-1"></i>
                                  </a>
                                  <i class="far fa-trash-alt" (click)="onDeleteStudent(student.id)"></i>
                              </td>
                          </tr>
                      </tbody>
                      </table>
                      <div class="card-footer">
                        <div class="row">
                        <div class="col-6">
                          Showing {{this.config.currentPage}} of {{this.listStudents.length/this.config.itemsPerPage |number:"1.0-0"}}
                        </div>
                        <pagination-controls (pageChange)="pageChanged($event)" maxSize="3" class="col-6"></pagination-controls>
                      </div>
                    </div>
                      
          </div>
      </div>
      <div>
</div>

